

._10{
    float: left;
    width: 50%;
    height: 100vh;
    
}

._11{
    padding-top: 20vh;
    padding-left: 10vw;
    width: 35%;
    overflow: hidden;

}

.tekstas{
    overflow: hidden;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30vh;
}
 
.about_us{
    padding-top: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

._13{
    width: 50%;
}

._12{
    float: left;
    width: 50%;
}

.two_photos{
    padding-top: 20vh;
}

.tekstas_2{
    overflow: hidden;
    padding-top: 40vh;
    padding-left: 10vw;
    padding-right: 10vw;
   
}

._14{
    float: right;
    padding-top: 20vh;
    width: 40%;
    padding-right: 10vw;
}


.tekstas_3{
    
    padding-top: 60vh;
   
   padding-right: 10vw;
  
   
}

._15{
    width: 50%;
    float: left;
    padding-top: 40vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

.our_mantra{
    padding-top: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-bottom: 20vh;
}

.last_section{
    background-color: rgb(164, 200, 216);
}

.left{
    
  margin-top: 3.5vw;
 padding-right: 15vw;
    float: left; 
    margin-left: 14vw;
    padding-bottom: 10vh;
}

.right{
    margin-top: 4vw;
    padding-bottom: 10vh;
   
}

.last_section h1{
    padding-top: 10vh;
    color: white;
    padding-left: 14vw ;
    
}

._16  {
    width: 27vw;
}

._17  {
    width: 27vw;
}

.text_under_right{
    padding-top: 3vh;
    color: white;
}

.text_under_left{
    padding-top: 3vh;
    color: white;
}

._18{
    height: 600px;
    padding-left: 20vw;
}












